*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.movie img{
    width:100%;
    border-radius:5px;
}

/* Tablet view */
@media (max-width: 900px){
    .movie{
        width:45%;
    }
}

/* Mobile view */
@media (max-width: 600px){
    .movie{
        width:90%;
    }
}
  


