*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align:center;
    background:#333;
    color:white;
    padding:20px;
}

.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:20px;
}

.movie{
    background:white;
    margin:15px;
    padding:15px;
    width:200px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.movie img{
    width:100%;
    border-radius:5px;
}

/* Tablet view */
@media (max-width: 900px){
    .movie{
        width:45%;
    }
}

/* Mobile view */
@media (max-width: 600px){
    .movie{
        width:90%;
    }
}

